// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 300px;
  height: 300px; 
}

h1 {
  text-align: center;
}

a.nav-link {
  color: white;
}

body {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  background-image: url('noisy_net.png');
  color: white;
}
a:hover {
  color: red;
}
ul a:hover {
  color: red;
}

.header-title {
  color: red;
}
